@mixin absolute-center {
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
@mixin clear-fix {
    content: "";
    visibility: hidden;
    clear: both;
    display: block;
    
}
@mixin laptop {
	@media screen and (max-width: 1200px) {
	  @content;
	}
  }
@mixin tablet {
	@media screen and (max-width: 1028px) {
	  @content;
	}
  }
@mixin tablet-small {
	@media screen and (max-width: 786px) {
	  @content;
	}
  }
  
@mixin mobile {
	@media screen and (max-width: 480px) {
	  @content;
	}
  }