$header-text-color: #ffffff;
$brand-color: #23cf5f;
$title-text-color: #3e4c5b;
$desc-text-color: #9aa8b6;
$font: 'Montserrat', sans-serif;
$vertical-gutter: 100px;
$vertical-gutter-small: 15px;
$horizontal-gutter : 50px;