@import 'abstract/commonmixin';
@import 'abstract/variables';
@import 'base/typography';
@import 'base/typography-placing';
@import 'layout/banner';
@import 'layout/header';
@import 'layout/section';
@import 'layout/grid';
@import 'component/form';
@import 'component/button';


*,*::after,*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}